## 将txt文件转换为csv文件

In [ ]:
import numpy as np
import pandas as pd
import csv

In [2]:
reader = open('./datasets/char_embed.txt')
data1 = reader.readlines()
with open("./datasets/char_embed.csv","w")as csvfile:
    for row in data1:
        row = row.split()
        writer = csv.writer(csvfile)
        writer.writerow(row)
        
reader = open('./datasets/word_embed.txt')
data2 = reader.readlines()
with open("./datasets/word_embed.csv","w")as csvfile:
    for row in data2:
        row = row.split()
        writer = csv.writer(csvfile)
        writer.writerow(row)

## 读取csv文件，查看内容

In [178]:
train_master = pd.read_csv('./datasets/train.csv',encoding='gbk')
test_master = pd.read_csv('./datasets/test.csv',encoding='gbk')
question = pd.read_csv('./datasets/question.csv',encoding='gbk')
char_embed = pd.read_csv('./datasets/char_embed.csv',encoding='gbk',header=None)
word_embed = pd.read_csv('./datasets/word_embed.csv',encoding='gbk',header=None)

In [4]:
train_master.head(5)

   label       q1       q2
0      1  Q397345  Q538594
1      0  Q193805  Q699273
2      0  Q085471  Q676160
3      0  Q189314  Q438123
4      0  Q267714  Q290126

In [5]:
test_master.head(5)

        q1       q2
0  Q017571  Q006012
1  Q728241  Q542572
2  Q166997  Q118270
3  Q422420  Q514386
4  Q354329  Q032485

In [6]:
question.head(5)

,qid,words,chars
0,Q000000,W05733 W05284 W09158 W14968 W07863,L1128 L1861 L2218 L1796 L1055 L0847 L2927
1,Q000001,W17378 W17534 W03249 W01490 W18802,L2214 L1980 L0156 L1554 L2218 L1861 L3019 L010...
2,Q000002,W17378 W08158 W20171 W11246 W14759,L2214 L2350 L2568 L1969 L2168 L0694 L3012 L256...
3,Q000003,W11385 W14103 W02556 W13157 W09749,L0762 L2172 L1971 L2034 L2039 L2271 L1346 L223...
4,Q000004,W17508 W18238 W02952 W18103,L0018 L2321 L1346 L3019 L0104 L0902 L0354 L0362

In [177]:
char_embed.head(5)

,0,1,2,3,4,5,6,7,8,9,...,291,292,293,294,295,296,297,298,299,300
0,L0000,-0.546460,2.285091,-3.084309,1.064661,-2.090880,0.651496,-2.429877,-2.262385,-1.981884,...,0.207397,1.476373,0.863744,-0.341826,0.433234,-0.730324,0.215955,-0.528452,-0.340528,-2.018747
1,L0001,-9.016356,-3.801084,-7.210567,3.052900,-1.340958,1.395385,-5.482922,-7.407759,-3.611857,...,-0.818142,4.968217,-4.254042,-0.709047,1.288105,-1.222849,-5.521402,-2.653049,1.868731,2.147064
2,L0002,-0.138824,0.219148,-0.890053,0.106301,-0.494364,0.550745,-0.279467,-0.048898,-0.021813,...,0.247383,0.576698,1.261507,0.446992,-0.418965,-0.278471,1.426156,-0.579678,-0.322354,-0.661302
3,L0003,-0.265548,0.465279,-0.611959,0.356313,-0.533891,0.196803,-0.376730,-0.316881,-0.516114,...,0.136175,0.952863,0.902963,-0.630882,0.153895,-0.260504,0.665082,0.126045,-0.281423,-0.155615
4,L0004,0.099463,-3.760915,0.462665,-3.754872,11.792088,7.473687,-3.999821,-0.934766,1.401825,...,7.900008,0.938448,9.856948,2.781040,-3.262262,-2.092505,3.462315,-0.904220,1.935117,3.409496

In [179]:
word_embed.head(5)

,0,1,2,3,4,5,6,7,8,9,...,291,292,293,294,295,296,297,298,299,300
0,W00000,0.169316,-0.063898,0.115286,-0.077671,0.067184,0.019339,0.039596,-0.026229,-0.160078,...,0.061151,0.044519,-0.194827,0.122456,0.122785,-0.154153,-0.116578,-0.127786,0.110593,-0.171084
1,W00001,1.548212,-1.052776,1.192632,0.760363,1.594398,1.478917,-1.555349,0.401968,1.588316,...,-1.898932,0.129864,-2.062325,0.068316,0.540282,-1.682620,-0.816290,-1.464458,-0.361792,0.943322
2,W00002,0.934084,0.106135,-0.391749,-0.209661,-0.558696,-0.942362,-0.274353,-0.232077,-1.024267,...,-0.357264,-0.451105,-0.724659,0.525233,0.290343,0.357838,-0.042750,1.315442,-0.167775,-0.393665
3,W00003,-1.407966,0.034697,-2.333980,1.991531,-0.073803,-0.966899,-0.926573,-2.161519,0.961513,...,0.547399,1.300992,1.893234,0.833304,-0.531153,1.249110,-0.959852,2.486905,0.925652,-0.676427
4,W00004,-0.213362,0.478031,0.033140,-0.096893,0.077964,-0.149793,-0.163284,0.470706,0.138422,...,-0.185111,-0.171314,0.166296,0.291282,-0.202618,0.192025,-0.145072,0.151652,0.353130,-0.073013

## 数据清洗

In [13]:
train_sum = train_master.isnull().sum()
print(train_sum)
test_sum = test_master.isnull().sum()
print(test_sum)
question_sum = question.isnull().sum()
print(question_sum)

label    0
q1       0
q2       0
dtype: int64
q1    0
q2    0
dtype: int64
qid      0
words    0
chars    0
dtype: int64

In [17]:
train_master.shape

(254386, 3)

## 数据预处理

In [136]:
train = pd.DataFrame(train_master)
test = pd.DataFrame(test_master)

In [137]:
train = pd.merge(train, question, left_on = ['q1'], right_on = ['qid'], how = 'left')
train = pd.merge(train, question, left_on = ['q2'], right_on = ['qid'], how = 'left')
test = pd.merge(test, question, left_on = ['q1'], right_on = ['qid'], how = 'left')
test = pd.merge(test, question, left_on = ['q2'], right_on = ['qid'], how = 'left')

In [142]:
train.head(1)

,label,q1,q2,qid_x,words_x,chars_x,qid_y,words_y,chars_y
0,1,Q397345,Q538594,Q397345,W04465 W04058 W05284 W02916,L2218 L2568 L0360 L0242 L2218 L0741,Q538594,W18238 W18843 W01490 W09905,L3019 L0104 L0582 L2218 L1861 L1556 L0242

In [143]:
test.head(1)

,q1,q2,qid_x,words_x,chars_x,qid_y,words_y,chars_y
0,Q017571,Q006012,Q017571,W17342 W06766 W04049 W16319 W07863,L0358 L0143 L0942 L1872 L1236 L3046 L0055 L258...,Q006012,W11668 W17378 W11399 W14113,L1791 L2214 L1872 L1236 L0947 L2323

In [144]:
train = train[['label', 'words_x','words_y']]
train.columns = ['label', 'q1', 'q2']
test = test[['words_x','words_y']]
test.columns = ['q1', 'q2']

In [145]:
train.head(1)

   label                           q1                           q2
0      1  W04465 W04058 W05284 W02916  W18238 W18843 W01490 W09905

In [146]:
test.head(1)

                                   q1                           q2
0  W17342 W06766 W04049 W16319 W07863  W11668 W17378 W11399 W14113

In [183]:
word = word_embed[0]
word_to_index = dict([(word[i],i+1) for i in range(len(word))])
index_to_word = dict([(i+1, word[i]) for i in range(len(word))])
# print(word_to_index)
# print(index_to_word)

In [191]:
# word_to_index

In [185]:
train_q1 = train.q1.values
train_q2 = train.q2.values
test_q1 = test.q1.values
test_q2 = test.q2.values
train_shape_q1 = train_q1.shape[0]
train_shape_q2 = train_q2.shape[0]
test_shape_q1 = test_q1.shape[0]
test_shape_q2 = test_q2.shape[0]
max_len = 20
embed_dim = 300

In [186]:
train_q1_indices = np.zeros((train_shape_q1,max_len))
for i in range(train_shape_q1):
    sentence_words_q1 = train_q1[i].split(' ')
    for j,w in enumerate(sentence_words_q1):
        if j >= max_len:
            break
        train_q1_indices[i, j] = word_to_index[w]

In [187]:
train_q2_indices = np.zeros((train_shape_q2,max_len))
for i in range(train_shape_q2):
    sentence_words_q2 = train_q2[i].split(' ')
    for j,w in enumerate(sentence_words_q2):
        if j >= max_len:
            break
        train_q2_indices[i, j] = word_to_index[w]

In [188]:
test_q1_indices = np.zeros((test_shape_q1,max_len))
for i in range(test_shape_q1):
    sentence_words_q1 = test_q1[i].split(' ')
    for j,w in enumerate(sentence_words_q1):
        if j >= max_len:
            break
        test_q1_indices[i, j] = word_to_index[w]

In [189]:
test_q2_indices = np.zeros((test_shape_q2,max_len))
for i in range(test_shape_q2):
    sentence_words_q2 = test_q2[i].split(' ')
    for j,w in enumerate(sentence_words_q2):
        if j >= max_len:
            break
        test_q2_indices[i, j] = word_to_index[w]

In [192]:
train_q1

array(['W04465 W04058 W05284 W02916', 'W10054 W04476 W09996 W12244 W18103',
       'W04346 W17378 W19355 W17926 W14185 W11567 W07863', ...,
       'W05733 W14113 W03390 W19662 W18238 W03746',
       'W15481 W00997 W19355 W18804 W00564 W10938 W18103',
       'W00173 W14295 W17629 W11399 W16319 W18103'], dtype=object)

In [193]:
train_q1_indices

array([[  4466.,   4059.,   5285., ...,      0.,      0.,      0.],
       [ 10055.,   4477.,   9997., ...,      0.,      0.,      0.],
       [  4347.,  17379.,  19356., ...,      0.,      0.,      0.],
       ...,
       [  5734.,  14114.,   3391., ...,      0.,      0.,      0.],
       [ 15482.,    998.,  19356., ...,      0.,      0.,      0.],
       [   174.,  14296.,  17630., ...,      0.,      0.,      0.]])

In [133]:
# embed_matrix = np.zeros((len(word_to_index)+1, embed_dim))
# for word, index in word_to_index.items():
#     embed_matrix[index, :] = word_embed.index.values

In [134]:
# print(q1_indices[0])
# print(q2_indices[0])
# print(embed_matrix[0])

[ 4465.  4058.  5284.  2916.     0.     0.     0.     0.     0.     0.
     0.     0.     0.     0.     0.     0.     0.     0.     0.     0.]
[ 18238.  18843.   1490.   9905.      0.      0.      0.      0.      0.
      0.      0.      0.      0.      0.      0.      0.      0.      0.
      0.      0.]